.image-nav {
  .nut-grid-item__content {
    background: transparent;
    background-color: transparent;
    border-color: var(--border-color);

    .nut-grid-item__text {
      color: inherit;
    }
  }
}

.image-nav-render {
  .nav-image-type {
    .n-icon {
      margin-top: 5px !important;
    }
  }

  .nav-upload,
  .n-upload-trigger.n-upload-trigger--image-card {
    width: 58px;
    height: 58px;
  }
}

.nav-container {
  .nav-add {
    width: 100%;
  }
}
