html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

.free-action-render {
  padding: 16px;

  .action-item-label {
    font-size: 14px;
  }
}

.secondary-container {
  padding: 12px 16px;
  background-color: #f7f8fa;
}
